{% extends "layout.html" %}

{% block content %}

<h3>{{ message }}</h3>
<style type="text/css">
    body {

        background-color: Bisque;
    }
</style>
<html>
<head>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th, td {
            padding: 5px;
            text-align: left;
        }
    </style>
</head>
<body>

    <h2>טבלה בנושא מתקני כושר </h2>
   

    <table style="width:100%">
        <tr>

            <td>
                <img src="http://www.oren-playground.co.il/img/0309/582.jpg" class="img-thumbnail" alt="Cinque Terre" width="200" height="100">

            </td>
            <td>
                <img src="http://www.oren-playground.co.il/img/0278/754.jpg" class="img-thumbnail" alt="Cinque Terre" width="200" height="100">


            </td>
            <td>
                <img src="https://sites.google.com/site/nutritionhabits/_/rsrc/1472763204280/outdoor-fitness-equipment/%D7%9E%D7%9B%D7%A9%D7%99%D7%A8%20%D7%9B%D7%95%D7%A9%D7%A8%20-%20%D7%94%D7%9C%D7%99%D7%9B%D7%94%20%D7%91%D7%90%D7%95%D7%95%D7%99%D7%A8%20%D7%9B%D7%A4%D7%95%D7%9C.jpg?height=300&width=400" class="img-thumbnail" alt="Cinque Terre"  width="200" height="100">
                

            </td>

        </tr>
        <td>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSSwZvyOBymUlpfU6WJYlj4mV_AeaRA5fGM7wCEe63Gswkqn_qdIA&s" class="img-thumbnail" alt="Cinque Terre" width="200" height="100">



        </td>
        <td>
            <img src="http://www.oren-playground.co.il/img/0278/753.jpg" class="img-thumbnail" alt="Cinque Terre"  width="200" height="100">
            


        </td>
        <td>
         
            <img src="http://www.bat-yam.muni.il/prdPics/218_cnt_body_heb_1_2_1475172771.jpg" class="img-thumbnail" alt="Cinque Terre"  width="200" height="100">
            

        </td>
        </tr>
     
    </table>

</body>
</html>

{% endblock %}